{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    
    <p class="lead">Create new post</p>

	<form class="form-group" method="POST">
  		
			{{ form.hidden_tag() }}
    <div class="form-group">
  			{{ form.title.label(class='form-group') }} {{ form.title(class='form-control') }}<br>
		</div>
		<div class="form-group">
  			{{ form.text.label(class='form-group')  }} {{ form.text(class="form-control")  }}<br>
  		</div>
<div class="form-group">
  			{{ form.submit(class='btn btn-dark') }}
        </div>
</form>
 </div>
{% endblock %}
